---
layout: default
title: Frederik Klovborg - UX, design and code
page_class: index
---
<div class="index u-mt-xxl">

  <header class="container">
    <div class="row">
      <div class="col-2">
        <h1 class="index__title">frebliklo<span class="index__title--sub">UX, design &amp; code</span></h1>
        <p>My name is Frederik. I’m a designer from Copenhagen, who solves problems by creating products for web and mobile. Currently working on the future of connected cars and utilizing data from vehicles.</p>
        <p>I’m passionate about empowering users through technology, building delightful experiences and prototyping interaction design.</p>
      </div>
    </div>
  </header>
  
  <div class="container index__some u-mb-xl">
    <div class="row u-space-between">
      {% include some.html %}
    </div>
  </div>

  <section class="container">
    <div class="row u-mb">
      <h2>Work</h2>
    </div>
    <div class="row u-mb-lg">
      <div class="col-2">
        <div class="index__work">
          <div class="index__work--title">
            <h3>Connected Cars</h3>
            <h5 class="index__work--year">current</h5>
          </div>
          <p class="index__work--desc">Designing mobile and web apps to enrich both car owners and their workshops with data from the car. Joined as the first designer and currently leading the design of the car owner experience.</p>
          <a href="{{ site.baseurl }}/work/connected-cars" class="index__work--btn btn">Read more &rarr;</a>
          <div class="index__work--grid">
            <div>
              {% include stacked-illustration.html %}
            </div>
            <div>
              {% include case-teasers.html %}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row u-mb-lg">
        <div class="col-2">
          <div class="index__work">
            <div class="index__work--title">
              <h3>Peytz &amp; Co</h3>
              <h5 class="index__work--year">2016</h5>
            </div>
            <p class="index__work--desc">Worked with multiple clients building web apps mainly focusing on public projects, among others for The City of Copenhagen and  Danish Film Institute. I planned and conducted usability tests and adviced clients on how to analyze and act on user research and best practices in web design to improve the user experience.</p>
            <a href="{{ site.baseurl }}/work/peytz" class="index__work--btn btn">Read more &rarr;</a>
          </div>
        </div>
      </div>
  </section>

  <section class="container index__about--bg u-mb-xxl">
    <div class="row">
      <div class="col-2">
        <div class="index__about">
          <div class="index__about--content">
            <h2 class="u-mb-xs">About</h2>
            <p>I’m happy when I’m building things and working together with awesome people. I like to learn and collaborate. If I can bring out the best in my colleagues, then they can bring out the best in me. I love nerdy discussions about design tools, front-end code or 70’s music.</p>
            <a href="{{ site.baseurl }}/about" class="index__about--btn btn">Read more &rarr;</a>
          </div>
          <div class="index__about--img">{% include me-card.html %}</div>
        </div>
      </div>
    </div>
  </section>

  <section class="container">
    <div class="row u-mb-xxl">
      <div class="col-2">
        <h2 class="u-mb-xs">Contact</h2>
        <p class="u-mb-sm">Please feel free to reach out if you wanna discuss design or want to work together!</p>
        <h3 class="u-mb-sm">klovborg@gmail.com</h3>
        <h3>(0045) 27 12 30 83</h3>
      </div>
    </div>

  </section>

</div>
