*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // rem definition, so should stay in base as we use this for both spacing and typography
  font-size: 56.25%;

  @include respond(tab-port) {
    font-size: 62.5%;
  }
  
}

body {
  box-sizing: border-box;
  min-height: 100vh;
}
