.u-mb-xxl {
  margin-bottom: 8rem !important;
}

.u-mb-xl {
  margin-bottom: 6.4rem !important;
}

.u-mb-lg {
  margin-bottom: 3.2rem !important;
}

.u-mb {
  margin-bottom: 2.4rem !important;
}

.u-mb-sm {
  margin-bottom: 1.6rem !important;
}

.u-mb-xs {
  margin-bottom: .8rem !important;
}

.u-space-between {
  justify-content: space-between !important;
}