// Color
$color-bg: #F9FAFB;
$color-fg: #3C5C6C;

$color-blue: #04ABD2;
$color-blue-dark-1: #20849B;
$color-blue-dark-2: #3C5C6C;
$color-green: #07A6A2;

$color-white: #FFF;
$color-black: #000;

$color-dribbble: #DA5988;
$color-github: #24292E;
$color-instagram: #7E2B7F;
$color-linkedin: #2D76B0;

$gutter-horizontal: .8rem;

$default-font: 'Encode Sans', Helvetica, sans-serif;
$heading-font: 'Encode Sans Semi Condensed', Helvetica, sans-serif;
