<h4 class="case-teasers__heading">Case studies</h4>
<div class="case-teasers">
  <a href="{{ site.baseurl }}/work/connected-cars/flow" class="case-teasers__container u-mb-sm">
    <h4 class="case-teasers__title">Building Bridges</h4>
    <p class="case-teasers__desc">Improving discussion and collaboration with efficient flow documentation. Solving new problems with old tricks</p>
    <svg class="case-teasers__chevron" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
      <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" fill="#3c5c6c"/>
    </svg>
  </a>
  <a href="{{ site.baseurl }}/work/connected-cars/integrations" class="case-teasers__container">
    <h4 class="case-teasers__title">Integration Pattern</h4>
    <p class="case-teasers__desc">Creating a simple design pattern to realize the product strategy. Simple guidelines to realize guide the users.</p>
    <svg class="case-teasers__chevron" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
      <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" fill="#3c5c6c"/>
    </svg>
  </a>
</div>