<div class="process-diagram container u-mb-lg u-space-between">
  <div class="process-diagram__grid">
    <h4 class="process-diagram__start">Problem</h4>
    <div class="process-diagram__item-left process-diagram__problem-statement u-mt">
      <h6>Problem statement</h6>
      <ul>
        <li>Define problem</li>
        <li>Understand business goals</li>
        <li>Plan activities</li>
      </ul>
    </div>
    <div class="process-diagram__item-left process-diagram__design">
      <h6>Design &amp; Prototype</h6>
      <ul>
        <li>Handdrawing</li>
        <li>Wireframes</li>
        <li>Interactive prototype</li>
      </ul>
    </div>
    <div class="process-diagram__item-left process-diagram__production u-mb">
      <h6>Production</h6>
      <ul>
        <li>Final UI Design</li>
        <li>Production ready assets</li>
        <li>Front-end code</li>
      </ul>
    </div>
    <div class="process-diagram__item-right process-diagram__research">
      <h6>Research</h6>
      <ul>
        <li>User interveiws</li>
        <li>Define personas &amp;journeys</li>
        <li>Competitive analysis</li>
      </ul>
    </div>
    <div class="process-diagram__item-right process-diagram__testing">
      <h6>Testing</h6>
      <ul>
        <li>Usability tests</li>
        <li>Design review</li>
        <li>Discussion with team</li>
      </ul>
    </div>
    <h4 class="process-diagram__end">Product</h4>
    <b class="process-diagram__vertical"></b>
    <p class="process-diagram__vertical-text process-diagram__vertical-text--real-world">Real world</p>
    <p class="process-diagram__vertical-text process-diagram__vertical-text--office">Office</p>
  </div>
</div>