<div class="stacked-illustration">
  <div class="stacked-illustration__left">
    <figure>
      <img src="{{ site.baseurl }}/assets/img/warning-light@2x.png" alt="Screenshot of warning light in MinSkoda">
    </figure>
  </div>
  <div class="stacked-illustration__center">
    <figure>
      <img src="{{ site.baseurl }}/assets/img/vw-status@2x.png" alt="Screenshot from MinVolkswagen">
    </figure>
  </div>
  <div class="stacked-illustration__right">
    <figure>
      <img src="{{ site.baseurl }}/assets/img/last-trip@2x.png" alt="Screenshot of trips screen in MinSEAT">
    </figure>
  </div>
</div>