<div class="stacked-illustration">
  <div class="stacked-illustration__left">
    <figure>
      <img src="https://res.cloudinary.com/frebliklo/image/upload/c_scale,f_auto,q_auto:best,w_284/v1539202776/portfolio/warning-light.png" alt="Screenshot of warning light in MinSkoda">
    </figure>
  </div>
  <div class="stacked-illustration__center">
    <figure>
      <img src="https://res.cloudinary.com/frebliklo/image/upload/c_scale,f_auto,q_auto:best,w_284/v1539202776/portfolio/MinVW.png" alt="Screenshot from MinVolkswagen">
    </figure>
  </div>
  <div class="stacked-illustration__right">
    <figure>
      <img src="https://res.cloudinary.com/frebliklo/image/upload/c_scale,f_auto,q_auto:best,w_284/v1539202776/portfolio/last-trip.png" alt="Screenshot of trips screen in MinSEAT">
    </figure>
  </div>
</div>