.btn {
  
  &, &:link, &:visited {
    display: inline-block;
    color: $color-fg;
    background-color: $color-white;
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: 600;
    padding: .8rem 1.6rem;
    border-radius: 4px;
    box-shadow: 1px 3px 8px rgba($color-black,.1);
    transition: box-shadow 180ms;
    cursor: pointer;
  }

  &:hover {
    box-shadow: 1px 3px 8px rgba($color-black,.2), 0 5px 25px rgba($color-blue,.15), inset 0 5px 5px rgba($color-grey-light,.25);
  }

  &:active, &:focus {
    box-shadow: 1px 3px 8px rgba($color-black,.15), 0 5px 25px rgba($color-blue,.05), inset 0 5px 5px rgba($color-grey-light,.02);
  }

}
