%mobile-device {
  position: relative;
  background: $color-device-grey;
  box-shadow: 0 15px 35px rgba($color-black,.15), 0 0 15px rgba($color-black,0.15), inset 0 -5px 20px rgba($color-black,.1), inset 0 5px 5px rgba($color-white,.25);
  border-radius: 4%;
}

%mobile-img-placement {
  position: absolute;
  top: 8.25%;
  left: 1.8%;
  bottom: 8.38%;
  right: 1.8%;
}

%browser-device {
  position: relative;
  background: $color-device-black;
  box-shadow: 0 15px 35px rgba($color-black,.15), 0 0 15px rgba($color-black,.15), inset 0 -5px 20px rgba($color-black,.1);
  border-radius: 2px;  
}

%browser-img-placement {
  position: absolute;
  left: 0.55%;
  right: 0.55%;
  top: 2.27%;
  bottom: 0.76%;
}
