---
layout: default
title: About - frebliklo
page_class: about
---

<div class="about">

  <section class="container">
    <div class="row">
      <div class="col-2">
        <h2 class="u-mb-sm">About</h2>
      </div>
      <div class="col-2">
        <div class="about__me">{% include me-card.html %}</div>
        <p>I'm a product designer with expertise in user experience and interaction design. Born and raised in Denmark. Passionate about prototyping and technology. I thrive in a fast-paced environment while keeping eyes on the details. I make sure that both business and users get the best product possible.</p>
        <p>I like to collaborate and iterate on design problems. No two projects are alike, but on an overall level, my process is to gather enough knowledge to understand the problem at hand so that design and technology decision meet the user's needs and result in a delightful solution.</p>
        <p>I like think of my process as activities divided between office world and the real world. Kinda like this:</p>
      </div>
    </div>
    {% include process-diagram.html %}
    <div class="row u-mt">
      <div class="col-2">
        <p>I find that this is a great model to both give room for innovation and creativity while guiding the entire process by what's needed for both business and the users.</p>
        <p>It isn't a strictly linear process, but steps on the way from problem to product where you always can revisit the previous activities based on iterations and discussions with my team. Collaboration, knowledge, and experience are the keys to success and the path I choose to take.</p>
      </div>
    </div>
  </section>

  <section class="about__more container u-mb-xxl">
    <h5 class="about__centered-txt u-mt">If you're looking for something formal then download my CV</h5>
    <a class="btn__cta btn__cta--flex u-mt u-mb-xxl" href="{{ site.baseurl }}/assets/img/CV-frederik-klovborg.pdf" download><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M19.35 10.04A7.49 7.49 0 0 0 12 4C9.11 4 6.6 5.64 5.35 8.04A5.994 5.994 0 0 0 0 14c0 3.31 2.69 6 6 6h13c2.76 0 5-2.24 5-5 0-2.64-2.05-4.78-4.65-4.96zM17 13l-5 5-5-5h3V9h4v4h3z" fill="#fff"/></svg><span>Download CV</span></a>
    <div class="row">
      <div class="col-2">
        {% include case-teasers.html %}
      </div>
    </div>
  </section>


</div>