.four-o-four {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  max-width: 49rem;
  height: 100vh;
  margin: 0 auto;
}
