.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  min-height: 10vh;
  background-color: rgba($color-primary,.5);

  &__contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 9.6rem;
    width: 30%;

    @include respond(tab-land) {
      width: 40%;
    }

    @include respond(tab-port) {
      width: 75%;
    }

    @include respond(phone) {
      width: 90%;
    }
  }

}