.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  padding: 6.4rem;
  color: rgba($color-bg,.75);
  background: linear-gradient(to bottom, $color-blue-dark-1, $color-blue-dark-2);

  p {
    font-size: 1.4rem;
  }

}