.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  background-image: 
    linear-gradient(
      to bottom,
      rgba($color-primary,.5) 0%,
      // rgba($color-primary,.6) 40%,
      // rgba($color-primary,.7) 83%,
      rgba(#D78521,.5) 100%,
    );

  &__contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 11.2rem;
    width: 30%;

    @include respond(tab-land) {
      width: 40%;
    }

    @include respond(tab-port) {
      width: 75%;
    }

    @include respond(phone) {
      width: 90%;
    }
  }

}