.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 3.2rem auto;
  width: 100%;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  max-width: 68rem;
  margin: 0 1.6rem;
  padding: 0 1.6rem;

  .col-2 {
    width: 100%;
  }

  .col-1 {
    width: calc((100% - #{$gutter-horizontal}) / 2);
  }
}
