.index {

  h2 {
    font-weight: 100;
  }

  &__title {
    margin-bottom: 2.4rem;

    &--sub {
      display: block;
      font-family: $default-font;
      font-size: 2.4rem;
      font-weight: 200;
    }
  }

  &__some {
    padding: 8rem 0;
    background: linear-gradient($color-blue, $color-green);
    color: $color-bg;
  }

  &__work {
    width: 100%;
    display: flex;
    flex-direction: column;

    &--title {
      display: flex;
      align-items: baseline;
      justify-content: space-between;
      margin-bottom: .8rem;
    }

    &--year {
      opacity: .7;
      text-transform: uppercase;
      text-align: right;
      font-size: 1.4rem;
    }

    &--desc {
      margin-bottom: 1.6rem;
    }

    &--btn {
      font-weight: 500;
      margin-bottom: 2.4rem;
      align-self: start;
    }

    &--grid {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
      grid-gap: 1.6rem;
    }

  }

  &__divider {
    width: 100%;
    height: 1.6rem;

    &--1 {
      background: linear-gradient(to bottom, $color-green, $color-blue);
    }

    &--2 {
      background: linear-gradient(to bottom, $color-blue, $color-green);
    }

  }

}