---
layout: default
title: Work - frebliklo
page_class: work
---

<div class="work">

  <header class="container">
    <div class="row">
      <div class="col-2">
          <h2 class="u-mb-sm">Work</h2>
          <p></p>
      </div>
    </div>
  </header>
  
  <section class="container u-mb-xl">
    <div class="row">
      <div class="col-2">
        <div class="work__cc">
          <h3 class="u-mb-xs">Connected Cars</h3>
          <p>Designing mobile and web apps to enrich both car owners and their workshops with data from the car. Joined as the first designer and currently leading the design of the car owner experience.</p>
          <a href="{{ site.baseurl }}/work/connected-cars" class="index__work--btn btn">Read more &rarr;</a>
          <div class="u-mb-sm">{% include stacked-illustration.html %}</div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-2">
        {% include case-teasers.html %}
      </div>
    </div>
  </section>

  <section class="container u-mb-xxl">
    <div class="row">
      <div class="col-2">
        <div class="work__peytz">
          <h3 class="u-mb-xs">Peytz &amp; Co</h3>
          <p>Worked with multiple clients building web apps mainly focusing on public projects, among others for The City of Copenhagen and  Danish Film Institute. I planned and conducted usability tests and adviced clients on how to analyze and act on user research and best practices in web design to improve the user experience.</p>
          <a href="{{ site.baseurl }}/work/peytz" class="index__work--btn btn">Read more &rarr;</a>
        </div>
      </div>
    </div>
  </section>

</div>