<!DOCTYPE html>
<html>

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <meta name="description" content="UX and product designer">
    
    <!-- SEO -->
    <meta name="title" content="Frederik Klovborg">
    <meta name="description" content="Frederik is a Danish UX and product designer currently designing native apps">
    <meta name="keywords" content="design, product design, ux design, user experience design, frebliklo, frederik klovborg, frederikklovborg, frederik blichert klovborg, frederik b klovborg, connected cars, prototyping, ux ui design, peytz">

    <!-- STYLESHEETS -->
    <link href="https://fonts.googleapis.com/css?family=Karla" rel="stylesheet">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css" />

    <!-- FAVICON -->
    <link rel="shortcut icon" type="image/png" href="{{ site.baseurl }}/assets/img/favicon.png">

  </head>

  <body>

    <main role="main">
      {{ content }}
    </main>

    {% include footer.html %}

  </body>

</html>